// ---------------------------------------------
//  MARGIN MAPS

@import "../_variables/spacing.scss";

// Generate classes for mapped spacing
// E.g., Margin classes for margin-1, margin-1, margin-half, margin-1-horizontal, margin-1-vertical

// Mapping spacing values
$spacing-map:(
"margin":$spacing,
"margin-1":$spacing-1,
"margin-2":$spacing-2,
"margin-half":$spacing-half
);

// Loop the map to generate colors classes

@each $name, $value in $spacing-map {
    .#{$name}{
        margin: $value;
    }

    .#{$name}-horizontal{
        margin-left: $value;
        margin-right: $value;
    }

    .#{$name}-vertical{
        margin-top: $value;
        margin-bottom: $value;
    }

    .#{$name}-top{
        margin-top: $value;
    }

    .#{$name}-bottom{
        margin-bottom: $value;
    }

    .#{$name}-left{
        margin-left: $value;
    }

    .#{$name}-right{
        margin-right: $value;
    }
    
    
}
