// MEDIA QUERIES BREAKPOINTS
@import "../_variables/media-queries.scss";

@mixin breakpoint($point) {
  $bp-mobile: #{"(max-width: $media-sm-max )"};
  $bp-tablet: #{"(min-width: $media-md) and (max-width: $media-lg-max)"};
  $bp-desktop: #{"(min-width: $media-lg)"};

  @if $point == mobile {
    @media #{$bp-mobile} {
      @content;
    }
  } @else if $point == tablet {
    @media #{$bp-tablet} {
      @content;
    }
  } @else if $point == desktop {
    @media #{$bp-desktop} {
      @content;
    }
  }
}
